<div class="row">
  <div class="col-md-12" style="background-color: #4a0d66">
    <div class="container-fluid">
      <div class="navbar-brand">
        <h2 class="text-white py-2 px-0 mx-0">Predictive Web Pre-fetching using RNN</h2>
      </div>
    </div>
  </div>
</div>

<div class="mt-3 pt-3"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Search Path" #searchBox (keyup)="search(searchBox.value)">
      <div class="overflow-scroll" style="height: 700px">
        <div class="list-group">
          <ng-container *ngFor="let p of filteredPaths">
            <a class="list-group-item list-group-item-action" [routerLink]="p.modifiedPath"
               (click)="currentPath = p"
               [class.active]="currentPath?.originalPath === p.originalPath">
              {{p?.name}}
              <br>
              <span class="text-muted small">{{p.originalPath}}</span>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
