<div class="row">
  <div class="col-md-12" style="background-color: #4a0d66">
    <div class="container-fluid">
      <div class="navbar-brand">
        <h2 class="text-white py-2 px-0 mx-0">Predictive Web Pre-fetching using RNN</h2>
      </div>
    </div>
  </div>
</div>

<div class="mt-3 pt-3"></div>

<div class="container-fluid">
  <div class="col-md-4">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/abc/">abc</a>
      <a class="list-group-item list-group-item-action" routerLink="/abc2/">abc2</a>
      <a class="list-group-item list-group-item-action" routerLink="/abc3/">abc3</a>
      <a class="list-group-item list-group-item-action" routerLink="/abc4/">abc4</a>
      <a class="list-group-item list-group-item-action" routerLink="/abc5/">abc5</a>

<!--      <ng-container *ngFor="let p of pages">-->
<!--        <a class="list-group-item list-group-item-action" routerLink="abc">{{p.path}}</a>-->
<!--      </ng-container>-->
    </div>
  </div>
  <div class="col-md-8"></div>
</div>
